In [68]:
class Student(object):

    nStudents = 0
    
    # Attributes 
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade
        self.marks = {'phy':0, 'chem':0, 'math':0}
        self.avg = 0
        
    # Methods
    def printReport(self):
        print("OBJECT REFERENCE -> ", self)
        print("--------------------------------------------")
        print(f"NAME    -> {self.name}")
        print(f"AGE     -> {self.age}")
        print("--------------------------------------------")
        print("{0:10} | {1:4}".format("SUBJECT", "MARKS"))
        print("--------------------------------------------")
        print("{0:10} | {1:4}".format("PHYSICS", self.marks['phy']))
        print("{0:10} | {1:4}".format("CHEMISTRY", self.marks['chem']))
        print("{0:10} | {1:4}".format("MATHS", self.marks['math']))
        print("--------------------------------------------")
        print(f"AVERAGE {self.avg}")

    def calcAverage(self):
        self.avg = sum(self.marks.values())/len(self.marks.values())

    def setMarks(self, subject, marks):
        if(subject in self.marks.keys()):
            self.marks[subject] = marks
        self.calcAverage()

    def getMarks(self, subject):
        if(subject in self.marks.keys()):
            return self.marks[subject]

    def printInfo():
        print("Student of class 10")

In [70]:
s = Student("Anil", 16, 10)

In [72]:
s

In [74]:
s.printReport()

OBJECT REFERENCE ->  <__main__.Student object at 0x00000298481FF290>
--------------------------------------------
NAME    -> Anil
AGE     -> 16
--------------------------------------------
SUBJECT    | MARKS
--------------------------------------------
PHYSICS    |    0
CHEMISTRY  |    0
MATHS      |    0
--------------------------------------------
AVERAGE 0

In [76]:
s.setMarks('phy', 99)
s.setMarks('chem', 98)
s.setMarks('math', 100)

In [78]:
s.printReport()

OBJECT REFERENCE ->  <__main__.Student object at 0x00000298481FF290>
--------------------------------------------
NAME    -> Anil
AGE     -> 16
--------------------------------------------
SUBJECT    | MARKS
--------------------------------------------
PHYSICS    |   99
CHEMISTRY  |   98
MATHS      |  100
--------------------------------------------
AVERAGE 99.0

In [80]:
class extStudent(Student):
    pass

In [82]:
s1 = extStudent("Anil", 16, 10)

In [84]:
s1.printReport()

OBJECT REFERENCE ->  <__main__.extStudent object at 0x00000298481FC380>
--------------------------------------------
NAME    -> Anil
AGE     -> 16
--------------------------------------------
SUBJECT    | MARKS
--------------------------------------------
PHYSICS    |    0
CHEMISTRY  |    0
MATHS      |    0
--------------------------------------------
AVERAGE 0

In [102]:
class newStudent(Student):

    # constructor
    def __init__(self, name, age, grade, hobbies = []):
        super().__init__(name, age, grade)
        self.hobbies = hobbies

    # methods
    def addHobby(self, hobby):
        self.hobbies.append(hobby)

    def removeHobby(self, hobby):
        if(hobby in self.hobbies):
            self.hobbies.remove(hobby)

    def printReport(self):
        super().printReport()
        print("--------------------------------------------")
        print('HOBBIES')
        for hobby in self.hobbies:
            print(hobby, end=', ')

In [104]:
s = newStudent("Anil", 16, 10)
s.setMarks('phy', 99)
s.setMarks('chem', 98)
s.setMarks('math', 100)
s.addHobby('Cricket')
s.addHobby('Doom Scrolling')

In [106]:
s.printReport()

OBJECT REFERENCE ->  <__main__.newStudent object at 0x0000029849FF3E00>
--------------------------------------------
NAME    -> Anil
AGE     -> 16
--------------------------------------------
SUBJECT    | MARKS
--------------------------------------------
PHYSICS    |   99
CHEMISTRY  |   98
MATHS      |  100
--------------------------------------------
AVERAGE 99.0
--------------------------------------------
HOBBIES
Cricket, Doom Scrolling,

In [109]:
a = Student('Anil', 16, 10)
b = newStudent('Suni', 16, 10, ['Chess'])

In [115]:
s = b

In [117]:
s.printReport()

OBJECT REFERENCE ->  <__main__.newStudent object at 0x0000029848906C30>
--------------------------------------------
NAME    -> Suni
AGE     -> 16
--------------------------------------------
SUBJECT    | MARKS
--------------------------------------------
PHYSICS    |    0
CHEMISTRY  |    0
MATHS      |    0
--------------------------------------------
AVERAGE 0
--------------------------------------------
HOBBIES
Chess,